/*****************************************HEADER NAVBAR *************************************/

.navbar{
    background: $navbar-color;
    background: radial-gradient(circle, rgba(252,213,206,1) 20%, rgba(255,229,217,1) 50%, rgba(254,197,187,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;

    & .navbar-nav{
        margin-right: 30px;
    }

    & .navbar-brand{
        font-family: Alex Brush;
        font-size: 35px;
        margin-left: 30px;
    }
    
    & .nav-link{
        font-family: Lato;
        font-size: 25px;
    
    }

}
